.screenshot {
    display: block;
    margin: auto;
  }
.screenshot-caption {
    text-align: center;
}
.icon {
  vertical-align: middle;
  width: 20px;
}
.icon-title {
  vertical-align: middle;
  width: 40px;
}