<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".brapi.BrapiOAuthRedirectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="brapi"
                    android:path="/auth"
                    android:scheme="fieldbook-kmp" />
            </intent-filter>
        </activity>
    </application>

</manifest>
