<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fieldbook.tracker"
    android:versionCode="330"
    android:versionName="3.0.0">

    <uses-feature android:name="android.hardware.location" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true">

        <activity
            android:name="MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Search.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/ActivityDialog" />

        <activity
            android:name="DatagridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog" />

        <activity
            android:name="ConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="ApiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="FileExploreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog" />

        <activity
            android:name=".Trait.TraitEditorActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="ChangelogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialog" />

        <activity
            android:name=".Tutorial.TutorialMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog" />

        <activity
            android:name=".Tutorial.TutorialSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog" />

        <activity
            android:name=".Tutorial.TutorialTraitsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog" />

        <activity
            android:name=".Tutorial.TutorialFieldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialog" />

    </application>
</manifest>