<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fieldbook.tracker">

    <application
        android:name=".application.FieldBook"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/field_book"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity
            android:name=".activities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScannerActivity"
            android:exported="false" />

        <!-- The Main Page activity that lists all other activities -->
        <activity
            android:name=".activities.ConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTop"
            android:roundIcon="@mipmap/ic_launcher"
            android:screenOrientation="portrait"
            android:targetActivity=".activities.ConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- - File Import activity (field manager, local and brapi) -->
        <activity
            android:name=".activities.FieldEditorActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FieldArchivedActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FieldCreatorActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- Trait manager, for importing .trt files -->
        <activity
            android:name=".activities.TraitActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="keyboardHidden|orientation"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /> <!-- used to display and select a local file (found in field editor and trait editor activities) -->
        <activity
            android:name=".activities.FileExploreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:theme="@style/ActivityDialog" /> <!-- Main page for data collection -->
        <activity
            android:name=".activities.CollectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- Data grid is available through the collect activity, once the setting is set -->
        <activity
            android:name=".activities.DataGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop" /> <!-- available within the collect activity, user can search by building sql statements -->
        <activity
            android:name=".activities.OldDataGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop" /> <!-- available within the collect activity, user can search by building sql statements -->
        <!-- The settings page, each category has its own fragment class -->
        <activity
            android:name=".activities.PreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.filterer.BrapiStudyFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.filterer.BrapiTraitFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.ListFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.BrapiProgramFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.BrapiSeasonsFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.BrapiTrialsFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.filter.BrapiCropsFilterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.BrapiStudyImportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.brapi.io.BrapiTraitImporterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- About activity uses a library, which uses material design components, it has its own style file -->
        <!-- shows version information and references to other apps, etc. -->
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale" /> <!-- Next couple of activities are used for brapi import/export and filtering -->
        <activity
            android:name=".activities.brapi.BrapiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.brapi.BrapiProgramActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.brapi.BrapiTrialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.brapi.BrapiTraitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.brapi.BrapiAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host=""
                    android:scheme="fieldbook"
                    tools:ignore="AppLinkUrlError" /> <!-- https://stackoverflow.com/questions/48093833/deeplink-empty-path-error-androidpath-cannot-be-empty -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="phenoapps.org/field-book"
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError" /> <!-- https://stackoverflow.com/questions/48093833/deeplink-empty-path-error-androidpath-cannot-be-empty -->
            </intent-filter>
        </activity> <!-- Handles BrAPI server authentication, shows a progress circle -->
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:path="/auth"
                    android:scheme="fieldbook" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CropImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.brapi.BrapiExportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" /> <!-- barcode capture activity -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />

        <!-- used to define SAF storage directory, required at start of app -->
        <activity
            android:name=".activities.DefineStorageActivity"
            android:theme="@style/AppTheme" />

        <!-- found in preferences, used to select a TTS language locale -->
        <activity
            android:name=".activities.LocaleChoiceActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.CameraActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <!-- AppIntroActivity uses the AppIntro package -->
        <activity android:name=".activities.AppIntroActivity"
            android:label="My Custom AppIntro" />

        <provider
            android:name=".provider.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--TODO: Temporarily opt out of forced layout changes in sdk 36. Needs to be addressed before updating to sdk 37 -->
        <property android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY" android:value="true" />
    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature android:name="android.software.companion_device_setup" />

    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android,com.binayshaw7777.kotstep" />

</manifest>