on:
  workflow_dispatch:
  push:
    branches:
      - develop
    paths-ignore:
      - 'version.properties'

name: do-alpha-release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    # Looks for commit intents following the conventional commits standard, bumps the patch version at minimum
    # Details here https://github.com/oflynned/android-version-bump#workflow and here https://www.conventionalcommits.org/en/v1.0.0/
    - name: Bump version
      id: bump_version
      uses: oflynned/android-version-bump@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        build_number: ${{ github.run_number }}
        tag_prefix: 'v'

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build APK
      run: ./gradlew app:assembleRelease 

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEYSTORE }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    - name: Upload built APK
      uses: actions/upload-artifact@v2
      with:
        name: Build Artifacts
        path: app/build/outputs/

# Commenting out for further testing
    #- name: Release APK to Play Store
     # uses: r0adkll/upload-google-play@v1
     # with:
     #   serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
     #   packageName: com.fieldbook.tracker
     #   releaseFiles: app/build/outputs/apk/release/app-release-unsigned-signed.apk
     #   track: alpha
    
